<!DOCTYPE HTML>
<html lang="ru">
    <head>  
    <meta charset="utf-8"/> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
    <title>Добро пожаловать</title>
    <style>
        html {
            /* background: url(https://i.pinimg.com/originals/e2/46/13/e24613740b70cd11b5408a3213429d4d.jpg); */
            background: url(https://wallbox.ru/resize/1024x1024/wallpapers/main2/201741/150757190459dbb8c0e23b34.13182216.jpg);
            background-size: cover;
            font-weight: bold;
        }
        .wrap {
            margin-top: 7%;
        }
        h1 {
            font-size: 30px;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
        .instruction {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .input > ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .input > ul > li{
            margin: 10px;
        }
        .buttons {
            margin-left: 533px;
            margin-top: 15px;
            width: 300px; 
        }   
        .buttons > ul {
            display: flex;
            justify-content: space-evenly;
        }
        .output {
            display: flex;
            justify-content: center;
        }
        .checkInStart {
            width: 200px;
        }
        .text {
            margin-top: 20px;
            min-width: 250px;
            background: transparent;
        }
        .ID {
            width: 200px;
        }
        .checkInEnd {
            width: 200px;
        }
        .buttons ul > li > button {
            border-radius: 30px;
        }
        button:hover {
            background: #0838d8;  
            color: #ffe; 
        } 
        li {
            list-style-type: none; /* Убираем маркеры */
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="instruction">
            <h1>Welcom to the Booking</h1>
        </div>
        <form method="POST">
            <div class="input">
                <ul>
                    <li>
                        <input id="ID" class="ID" type="text" name="ID" value="" placeholder="Enter ID">
                    </li>
                    <li>
                        <input id="checkInStart" class="checkInStart" type="date" name="checkInStart" value="" required>
                    </li>
                    <li>               
                        <input id="checkInEnd" class="checkInEnd" type="date" name="checkInEnd" value="" required>
                    </li>
                </ul>
            </div>
            <div class="buttons">
                <ul>
                    <li>                
                        <button class="sybmit" name="sybmit" value="sybmit" >Submit</button> 
                    </li>
                    <li>          
                        <button class="table" name="table" value="table">table</button> 
                    </li>
                </ul>
            </div>
            
        </form>
        <div class="output">
            <textarea id="text" class="text" name="text" rows="11"  value="" readonly></textarea>
        </div>
        
    </div>
    <script>
      
        area = document.getElementById("text")
        var txt;
        txt = area.value.trim();
        if (txt != "") {txt = txt + ", "}
        area.value = "{{ans}}"
      
      
      </script>
</body>
</html>