<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            text-align: left;
        }
        body{
            /* background: url(http://rewalls.com/large/201103/26541.jpg);
            background-repeat: repeat; */
            font-weight: bold;
        }

    </style>
</table>  
<body>
    <h1>Table for the time interval</h1>
    <table border="1">
        <tr>
            <th style="background: rgb(201, 198, 37)">ID/Date</th>
                {% for i in arrayDate %}
                    <td style="background: rgb(0, 111, 175)">{{i}}</td>
                {% endfor %}
        </tr>
        {% for i in range(0, lenAns) %}
        <tr>
            <td style="background: rgb(164, 115, 173)">{{ans[i][0]}}</td>  
            {% for j in range(1,lenAnsI) %}
                {% if ans[i][j] == True %}
                    <td style="background: rgb(57, 173, 42)">Свободно</td>
                {% else %}
                    <td style="background: rgb(201, 68, 68)" >Занято</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </table>

</body>
</html>